.App {
  background-color: #B0ADAA;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-da-conversa {
  width: 500px;
  height: 95vh;
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
  background:
    linear-gradient(135deg, #D6D3D3 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
    linear-gradient(225deg, #D6D3D3 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
  background-color: #D6D3D3;
  background-size: 64px 128px;
  
}

.formulario-de-mensagens {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}

.balao {
  background-color: #EDE9C1;
  color: #E3C04D;
  width: 300px;
  height: 100px;
  font-size: 1.6rem;
  border-radius: 10px;
  font-family: monospace;
  padding: 10px;
}

input {
  height: 30px;
  border: solid 2px #E3C04D;
}

.botao {
  border-radius: 20%;
  color: white;
  height: 40px;
  width: 40px;
}